.container {
  position: fixed;
  right: 24px;
  bottom: 24px;

  display: flex;
  flex-direction: column;
  gap: 14px;

  z-index: 999;
}


@media (max-width: 768px) {
  .container {
    right: 16px;
    bottom: 16px;
    gap: 10px;
  }
}